<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.busan.cw.clsp20120924"
    android:versionCode="4"
    android:versionName="2.01" >

    <uses-sdk android:minSdkVersion="7" />

    <uses-feature android:name="android.hardware.camera" />

    <!--
    <permission
        android:name="com.kr.busan.cw.cinepox.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.kr.busan.cw.cinepox.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <supports-screens
        android:anyDensity="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" >
    </supports-screens>

    <application
        android:name="com.kr.busan.cw.cinepox.movie.State"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/cinepox" >
        <service
            android:name="com.kr.busan.cw.cinepox.movie.CinepoxService"
            android:label="@string/cinepox" >
        </service>
        <service
            android:name="com.kr.busan.cw.cinepox.player.controller.PlayerService"
            android:label="PlayerService" />

        <receiver
            android:name="com.kr.busan.cw.cinepox.movie.BootReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.kr.busan.cw.cinepox.movie.WidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider" />
        </receiver>

        <activity
            android:name="com.kr.busan.cw.cinepox.movie.ServiceActivateActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
                <category android:name="android.intent.category.BROWSABLE" >
                </category>

                <data
                    android:host="startservice"
                    android:scheme="cinepox" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kr.busan.cw.cinepox.movie.PayActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
                <category android:name="android.intent.category.BROWSABLE" >
                </category>

                <data
                    android:host="pay"
                    android:scheme="cinepox" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kr.busan.cw.cinepox.downloader.DownCancelActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.kr.busan.cw.cinepox.downloader.DownRestartActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.kr.busan.cw.cinepox.downloader.DownloaderActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
                <category android:name="android.intent.category.BROWSABLE" >
                </category>

                <data
                    android:host="download"
                    android:scheme="cinepox" >
                </data>
            </intent-filter>
        </activity>
        <activity
            android:name="com.kr.busan.cw.cinepox.movie.InstallTest"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
                <category android:name="android.intent.category.BROWSABLE" >
                </category>

                <data
                    android:host="installtest"
                    android:scheme="cinepox" >
                </data>
            </intent-filter>
        </activity>
        <activity
            android:name="com.kr.busan.cw.cinepox.movie.ADActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.kr.busan.cw.cinepox.movie.SettingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Holo" >
        </activity>
        <activity
            android:name="com.kr.busan.cw.cinepox.movie.SearchActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar"
            android:title="씨네폭스 영화검색" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
                <category android:name="android.intent.category.BROWSABLE" >
                </category>

                <data
                    android:host="search"
                    android:scheme="cinepox" >
                </data>
            </intent-filter>
        </activity>
        <activity
            android:name="com.kr.busan.cw.cinepox.movie.IntroActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
                <category android:name="android.intent.category.BROWSABLE" >
                </category>

                <data
                    android:host="qrplay"
                    android:scheme="cinepox" >
                </data>
            </intent-filter>
        </activity>
        <activity
            android:name="com.kr.busan.cw.cinepox.movie.MainActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar" />
        <activity
            android:name="com.kr.busan.cw.cinepox.movie.LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
                <category android:name="android.intent.category.BROWSABLE" >
                </category>

                <data
                    android:host="login"
                    android:scheme="cinepox" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kr.busan.cw.cinepox.movie.AgreeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.kr.busan.cw.cinepox.movie.QRPlayActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/qrplay" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
                <category android:name="android.intent.category.BROWSABLE" >
                </category>
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.zxing.client.android.HelpActivity"
            android:screenOrientation="user" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/qrplay"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SCAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.kr.cinepox.player.QRPLAY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 플레이어 관련 매니페스트 -->
        <activity
            android:name="com.kr.busan.cw.cinepox.player.controller.VolumeActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.kr.busan.cw.cinepox.player.controller.BrightActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.kr.busan.cw.cinepox.player.ReadQRActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.kr.busan.cw.cinepox.player.controller.PlayerActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:label="@string/cineplayer"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" >
            <intent-filter>
                <action android:name="com.kr.busan.cw.cinepox.player.PLAY" >
                </action>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
                <category android:name="android.intent.category.BROWSABLE" >
                </category>

                <data
                    android:host="play"
                    android:scheme="cinepox" >
                </data>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
                <category android:name="android.intent.category.BROWSABLE" >
                </category>

                <data android:scheme="http" >
                </data>
                <data android:scheme="https" >
                </data>
                <data
                    android:host="v.youku.com"
                    android:pathPattern=".*\.html"
                    android:pathPrefix="/v_show/id_" >
                </data>
                <data
                    android:host="v.youku.com"
                    android:pathPattern=".*\.html"
                    android:pathPrefix="/v_playlist/" >
                </data>
                <data
                    android:host="v.ku6.com"
                    android:pathPattern=".*html"
                    android:pathPrefix="/show/" >
                </data>
                <data
                    android:host="tv.sohu.com"
                    android:pathPattern=".*\.shtml.*" >
                </data>
                <data
                    android:host="my.tv.sohu.com"
                    android:pathPrefix="/u/" >
                </data>
                <data
                    android:host="www.iqiyi.com"
                    android:pathPattern=".*/.*/.*\.html.*"
                    android:pathPrefix="/" >
                </data>
                <data
                    android:host="yule.iqiyi.com"
                    android:pathPattern=".*\.html.*" >
                </data>
                <data
                    android:host="www.tudou.com"
                    android:pathPrefix="/programs/view/" >
                </data>
                <data
                    android:host="www.tudou.com"
                    android:pathPrefix="/albumcover/" >
                </data>
                <data
                    android:host="www.tudou.com"
                    android:pathPattern=".*\.html"
                    android:pathPrefix="/playlist/" >
                </data>
                <data
                    android:host="www.tudou.com"
                    android:pathPattern=".*\.html?vid=.*" >
                </data>
                <data
                    android:host="v.qq.com"
                    android:pathPattern=".*\.html?vid=.*" >
                </data>
                <data
                    android:host="v.qq.com"
                    android:pathPattern=".*\.html"
                    android:pathPrefix="/cover/" >
                </data>
                <data
                    android:host="video.sina.com.cn"
                    android:pathPattern=".*\.html.*" >
                </data>
                <data
                    android:host="www.youtube.com"
                    android:pathPrefix="/watch" >
                </data>
                <data
                    android:host="www.youtube.com"
                    android:pathPrefix="/movie" >
                </data>
                <data
                    android:host="www.youtube.com"
                    android:pathPrefix="/v/" >
                </data>
                <data
                    android:host="www.youtube.com"
                    android:pathPrefix="/embed/" >
                </data>
                <data
                    android:host="vimeo.com"
                    android:pathPattern=".*" >
                </data>
                <data
                    android:host="www.letv.com"
                    android:pathPattern=".*\.html"
                    android:pathPrefix="/ptv/pplay/" >
                </data>
                <data
                    android:host="v.pptv.com"
                    android:pathPattern=".*\.html"
                    android:pathPrefix="/show/" >
                </data>
            </intent-filter>
            <intent-filter>
                <action android:name="me.abitno.vplayer.action.VIEW" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
                <category android:name="android.intent.category.BROWSABLE" >
                </category>

                <data
                    android:mimeType="*/*"
                    android:scheme="*" >
                </data>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
                <category android:name="android.intent.category.BROWSABLE" >
                </category>

                <data
                    android:mimeType="audio/*"
                    android:scheme="http" >
                </data>
                <data
                    android:mimeType="audio/*"
                    android:scheme="rtsp" >
                </data>
                <data
                    android:mimeType="audio/*"
                    android:scheme="rtmp" >
                </data>
                <data
                    android:mimeType="audio/*"
                    android:scheme="udp" >
                </data>
                <data
                    android:mimeType="audio/*"
                    android:scheme="tcp" >
                </data>
                <data
                    android:mimeType="audio/*"
                    android:scheme="file" >
                </data>
                <data
                    android:mimeType="audio/*"
                    android:scheme="content" >
                </data>
                <data
                    android:mimeType="audio/*"
                    android:scheme="mms" >
                </data>
                <data
                    android:mimeType="video/*"
                    android:scheme="http" >
                </data>
                <data
                    android:mimeType="video/*"
                    android:scheme="rtsp" >
                </data>
                <data
                    android:mimeType="video/*"
                    android:scheme="rtmp" >
                </data>
                <data
                    android:mimeType="video/*"
                    android:scheme="udp" >
                </data>
                <data
                    android:mimeType="video/*"
                    android:scheme="tcp" >
                </data>
                <data
                    android:mimeType="video/*"
                    android:scheme="file" >
                </data>
                <data
                    android:mimeType="video/*"
                    android:scheme="content" >
                </data>
                <data
                    android:mimeType="video/*"
                    android:scheme="mms" >
                </data>
                <data android:mimeType="application/octet-stream" >
                </data>
                <data android:mimeType="application/x-mpegurl" >
                </data>
                <data android:mimeType="application/vnd.apple.mpegurl" >
                </data>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>

                <data android:scheme="content" >
                </data>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
                <category android:name="android.intent.category.BROWSABLE" >
                </category>

                <data
                    android:mimeType="application/x-mpegurl"
                    android:scheme="http" >
                </data>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
                <category android:name="android.intent.category.BROWSABLE" >
                </category>

                <data android:scheme="rtsp" >
                </data>
                <data android:scheme="rtmp" >
                </data>
                <data android:scheme="mms" >
                </data>
                <data android:scheme="tcp" >
                </data>
                <data android:scheme="udp" >
                </data>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" >
                </action>
                <action android:name="android.intent.action.SEND" >
                </action>
                <action android:name="android.intent.action.SENDTO" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>

                <data android:mimeType="video/*" >
                </data>
                <data android:mimeType="application/sdp" >
                </data>
                <data android:mimeType="application/octet-stream" >
                </data>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
                <category android:name="android.intent.category.BROWSABLE" >
                </category>

                <data android:scheme="http" >
                </data>
                <data android:mimeType="video/*" >
                </data>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
                <category android:name="android.intent.category.BROWSABLE" >
                </category>

                <data android:scheme="file" >
                </data>
                <data android:scheme="content" >
                </data>
                <data android:scheme="http" >
                </data>
                <data android:scheme="https" >
                </data>
                <data android:scheme="ftp" >
                </data>
                <data android:scheme="rtsp" >
                </data>
                <data android:scheme="rtmp" >
                </data>
                <data android:scheme="mms" >
                </data>
                <data android:scheme="tcp" >
                </data>
                <data android:scheme="udp" >
                </data>
                <data android:scheme="gopher" >
                </data>
                <data android:mimeType="video/*" >
                </data>
                <data android:mimeType="audio/*" >
                </data>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
                <category android:name="android.intent.category.BROWSABLE" >
                </category>

                <data android:scheme="file" >
                </data>
                <data android:scheme="content" >
                </data>
                <data android:scheme="http" >
                </data>
                <data android:scheme="https" >
                </data>
                <data android:scheme="ftp" >
                </data>
                <data android:scheme="rtsp" >
                </data>
                <data android:scheme="rtmp" >
                </data>
                <data android:scheme="mms" >
                </data>
                <data android:scheme="tcp" >
                </data>
                <data android:scheme="udp" >
                </data>
                <data android:scheme="gopher" >
                </data>
                <data android:host="*" >
                </data>
                <data android:pathPattern=".*\.avi" >
                </data>
                <data android:pathPattern=".*\.asf" >
                </data>
                <data android:pathPattern=".*\.f4v" >
                </data>
                <data android:pathPattern=".*\.flv" >
                </data>
                <data android:pathPattern=".*\.mkv" >
                </data>
                <data android:pathPattern=".*\.mpeg" >
                </data>
                <data android:pathPattern=".*\.mpg" >
                </data>
                <data android:pathPattern=".*\.mov" >
                </data>
                <data android:pathPattern=".*\.rm" >
                </data>
                <data android:pathPattern=".*\.vob" >
                </data>
                <data android:pathPattern=".*\.wmv" >
                </data>
                <data android:pathPattern=".*\.ts" >
                </data>
                <data android:pathPattern=".*\.tp" >
                </data>
                <data android:pathPattern=".*\.m3u" >
                </data>
                <data android:pathPattern=".*\.m3u8" >
                </data>
                <data android:pathPattern=".*\.m4v" >
                </data>
                <data android:pathPattern=".*\.mp4" >
                </data>
            </intent-filter>
        </activity>

        <!-- 추후 변경될 플레이어 매니페스트 -->
        <!--
        <activity
            android:name=".player.controller.VolumeActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name=".player.controller.BrightActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name=".player.controller.PlayerActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:label="@string/cineplayer"
            android:screenOrientation="sensorLandscape" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" >
                </action>

                <category android:name="android.intent.category.BROWSABLE" >
                </category>
                <category android:name="android.intent.category.DEFAULT" >
                </category>

                <data
                    android:host="play"
                    android:scheme="cinepox" >
                </data>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" >
                </action>

                <category android:name="android.intent.category.LAUNCHER" >
                </category>
                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
            <intent-filter>
                <action android:name="com.kr.busan.cw.cinepox.player.PLAY" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
                <category android:name="android.intent.category.BROWSABLE" >
                </category>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" >
                </action>
                <action android:name="android.intent.action.MAIN" >
                </action>

                <category android:name="android.intent.category.LAUNCHER" >
                </category>
                <category android:name="android.intent.category.DEFAULT" >
                </category>
                <category android:name="android.intent.category.BROWSABLE" >
                </category>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" >
                </action>
                <action android:name="android.intent.action.MAIN" >
                </action>

                <category android:name="android.intent.category.LAUNCHER" >
                </category>
                <category android:name="android.intent.category.DEFAULT" >
                </category>
                <category android:name="android.intent.category.BROWSABLE" >
                </category>

                <data android:scheme="http" >
                </data>
                <data android:scheme="https" >
                </data>
                <data
                    android:host="v.youku.com"
                    android:pathPattern=".*\.html"
                    android:pathPrefix="/v_show/id_" >
                </data>
                <data
                    android:host="v.youku.com"
                    android:pathPattern=".*\.html"
                    android:pathPrefix="/v_playlist/" >
                </data>
                <data
                    android:host="v.ku6.com"
                    android:pathPattern=".*html"
                    android:pathPrefix="/show/" >
                </data>
                <data
                    android:host="tv.sohu.com"
                    android:pathPattern=".*\.shtml.*" >
                </data>
                <data
                    android:host="my.tv.sohu.com"
                    android:pathPrefix="/u/" >
                </data>
                <data
                    android:host="www.iqiyi.com"
                    android:pathPattern=".*/.*/.*\.html.*"
                    android:pathPrefix="/" >
                </data>
                <data
                    android:host="yule.iqiyi.com"
                    android:pathPattern=".*\.html.*" >
                </data>
                <data
                    android:host="www.tudou.com"
                    android:pathPrefix="/programs/view/" >
                </data>
                <data
                    android:host="www.tudou.com"
                    android:pathPrefix="/albumcover/" >
                </data>
                <data
                    android:host="www.tudou.com"
                    android:pathPattern=".*\.html"
                    android:pathPrefix="/playlist/" >
                </data>
                <data
                    android:host="www.tudou.com"
                    android:pathPattern=".*\.html?vid=.*" >
                </data>
                <data
                    android:host="v.qq.com"
                    android:pathPattern=".*\.html?vid=.*" >
                </data>
                <data
                    android:host="v.qq.com"
                    android:pathPattern=".*\.html"
                    android:pathPrefix="/cover/" >
                </data>
                <data
                    android:host="video.sina.com.cn"
                    android:pathPattern=".*\.html.*" >
                </data>
                <data
                    android:host="www.youtube.com"
                    android:pathPrefix="/watch" >
                </data>
                <data
                    android:host="www.youtube.com"
                    android:pathPrefix="/movie" >
                </data>
                <data
                    android:host="www.youtube.com"
                    android:pathPrefix="/v/" >
                </data>
                <data
                    android:host="www.youtube.com"
                    android:pathPrefix="/embed/" >
                </data>
                <data
                    android:host="vimeo.com"
                    android:pathPattern=".*" >
                </data>
                <data
                    android:host="www.letv.com"
                    android:pathPattern=".*\.html"
                    android:pathPrefix="/ptv/pplay/" >
                </data>
                <data
                    android:host="v.pptv.com"
                    android:pathPattern=".*\.html"
                    android:pathPrefix="/show/" >
                </data>
            </intent-filter>
            <intent-filter>
                <action android:name="me.abitno.vplayer.action.VIEW" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
                <category android:name="android.intent.category.BROWSABLE" >
                </category>

                <data
                    android:mimeType="*/*"
                    android:scheme="*" >
                </data>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" >
                </action>
                <action android:name="android.intent.action.MAIN" >
                </action>

                <category android:name="android.intent.category.LAUNCHER" >
                </category>
                <category android:name="android.intent.category.DEFAULT" >
                </category>
                <category android:name="android.intent.category.BROWSABLE" >
                </category>

                <data
                    android:mimeType="audio/*"
                    android:scheme="http" >
                </data>
                <data
                    android:mimeType="audio/*"
                    android:scheme="rtsp" >
                </data>
                <data
                    android:mimeType="audio/*"
                    android:scheme="rtmp" >
                </data>
                <data
                    android:mimeType="audio/*"
                    android:scheme="udp" >
                </data>
                <data
                    android:mimeType="audio/*"
                    android:scheme="tcp" >
                </data>
                <data
                    android:mimeType="audio/*"
                    android:scheme="file" >
                </data>
                <data
                    android:mimeType="audio/*"
                    android:scheme="content" >
                </data>
                <data
                    android:mimeType="audio/*"
                    android:scheme="mms" >
                </data>
                <data
                    android:mimeType="video/*"
                    android:scheme="http" >
                </data>
                <data
                    android:mimeType="video/*"
                    android:scheme="rtsp" >
                </data>
                <data
                    android:mimeType="video/*"
                    android:scheme="rtmp" >
                </data>
                <data
                    android:mimeType="video/*"
                    android:scheme="udp" >
                </data>
                <data
                    android:mimeType="video/*"
                    android:scheme="tcp" >
                </data>
                <data
                    android:mimeType="video/*"
                    android:scheme="file" >
                </data>
                <data
                    android:mimeType="video/*"
                    android:scheme="content" >
                </data>
                <data
                    android:mimeType="video/*"
                    android:scheme="mms" >
                </data>
                <data android:mimeType="application/octet-stream" >
                </data>
                <data android:mimeType="application/x-mpegurl" >
                </data>
                <data android:mimeType="application/vnd.apple.mpegurl" >
                </data>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>

                <data android:scheme="content" >
                </data>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
                <category android:name="android.intent.category.BROWSABLE" >
                </category>

                <data
                    android:mimeType="application/x-mpegurl"
                    android:scheme="http" >
                </data>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
                <category android:name="android.intent.category.BROWSABLE" >
                </category>

                <data android:scheme="rtsp" >
                </data>
                <data android:scheme="rtmp" >
                </data>
                <data android:scheme="mms" >
                </data>
                <data android:scheme="tcp" >
                </data>
                <data android:scheme="udp" >
                </data>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" >
                </action>
                <action android:name="android.intent.action.SEND" >
                </action>
                <action android:name="android.intent.action.SENDTO" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>

                <data android:mimeType="video/*" >
                </data>
                <data android:mimeType="application/sdp" >
                </data>
                <data android:mimeType="application/octet-stream" >
                </data>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
                <category android:name="android.intent.category.BROWSABLE" >
                </category>

                <data android:scheme="http" >
                </data>
                <data android:mimeType="video/*" >
                </data>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
                <category android:name="android.intent.category.BROWSABLE" >
                </category>

                <data android:scheme="file" >
                </data>
                <data android:scheme="content" >
                </data>
                <data android:scheme="http" >
                </data>
                <data android:scheme="https" >
                </data>
                <data android:scheme="ftp" >
                </data>
                <data android:scheme="rtsp" >
                </data>
                <data android:scheme="rtmp" >
                </data>
                <data android:scheme="mms" >
                </data>
                <data android:scheme="tcp" >
                </data>
                <data android:scheme="udp" >
                </data>
                <data android:scheme="gopher" >
                </data>
                <data android:mimeType="video/*" >
                </data>
                <data android:mimeType="audio/*" >
                </data>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
                <category android:name="android.intent.category.BROWSABLE" >
                </category>

                <data android:scheme="file" >
                </data>
                <data android:scheme="content" >
                </data>
                <data android:scheme="http" >
                </data>
                <data android:scheme="https" >
                </data>
                <data android:scheme="ftp" >
                </data>
                <data android:scheme="rtsp" >
                </data>
                <data android:scheme="rtmp" >
                </data>
                <data android:scheme="mms" >
                </data>
                <data android:scheme="tcp" >
                </data>
                <data android:scheme="udp" >
                </data>
                <data android:scheme="gopher" >
                </data>
                <data android:host="*" >
                </data>
                <data android:pathPattern=".*\.avi" >
                </data>
                <data android:pathPattern=".*\.asf" >
                </data>
                <data android:pathPattern=".*\.f4v" >
                </data>
                <data android:pathPattern=".*\.flv" >
                </data>
                <data android:pathPattern=".*\.mkv" >
                </data>
                <data android:pathPattern=".*\.mpeg" >
                </data>
                <data android:pathPattern=".*\.mpg" >
                </data>
                <data android:pathPattern=".*\.mov" >
                </data>
                <data android:pathPattern=".*\.rm" >
                </data>
                <data android:pathPattern=".*\.vob" >
                </data>
                <data android:pathPattern=".*\.wmv" >
                </data>
                <data android:pathPattern=".*\.ts" >
                </data>
                <data android:pathPattern=".*\.tp" >
                </data>
                <data android:pathPattern=".*\.m3u" >
                </data>
                <data android:pathPattern=".*\.m3u8" >
                </data>
                <data android:pathPattern=".*\.m4v" >
                </data>
                <data android:pathPattern=".*\.mp4" >
                </data>
            </intent-filter>
        </activity>
        -->
    </application>

</manifest>